Repository bergbrains/ChordproJSParser: changes, and which pre-commit hooks are due for each by the changed paths.
All: jest-tests, test-github-workflows

.pre-commit-config.yaml:

exclude: '^dist$'
# .pre-commit-config.yaml
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-docstring-first
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v9.31.0
    hooks:
      - id: eslint
        files: \.[jt]sx?$  # match JavaScript and TypeScript files
        types: [ file ]
        additional_dependencies:
          - eslint
          - '@eslint/js'

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        types_or: [ javascript, jsx, ts, tsx, json, css, markdown ]

  - repo: local
    hooks:
      - id: jest-tests
        name: Run Jest tests
        entry: npm test
        language: system
        pass_filenames: false
        types: [ javascript ]
  - repo: local
    hooks:
      - id: test-github-workflows
        name: Test GitHub Workflows with act
        entry: ./scripts/test-github-workflows.sh
        language: script
        files: .pre-commit-config.yaml$
        verbose: true

Fixed examples
  examples/basic.html
  examples/file-list.html
  examples/pick-files.html
Due: none

Update tests/parser.test.js
  tests/parser.test.js
Due: jest-tests

toward standardizing styling for similar elements
  examples/basic.html
  examples/file-list.html
  examples/pick-files.html
  style.css
Due: none

fix baseBranches in renovate config
  renovate.json
Due: none

Add initial project setup with configuration files and basic structure
  .eslintrc.js
  .github/.junie/guidelines.md
  .pre-commit-config.yaml
  .prettierrc.json
  AI-PROMPT.md
  API-index.md
  GITHUB_INTEGRATION.md
  README.md
  babel.config.js
  dist/chordprojs.esm.js
  dist/chordprojs.min.js
  eslint.config.js
  examples/file-list.html
  examples/pick-files.html
  jest.config.js
  package.json
  renovate.json
  rollup.config.js
  src/core/parser.js
  src/core/renderer.js
  src/index.js
  src/plugins/transpose.js
  tests/directives.test.js
  tests/mocks/styleMock.js
  tests/renderer.test.js
Due: jest-tests, test-github-workflows

refactor: standardize code formatting and improve configuration files
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  .prettierrc.json
  AI-PROMPT.md
  dist/chordprojs.esm.js
  dist/chordprojs.min.js
  dist/dist/chordprojs.min.css
  eslint.config.js
  examples/file-list.html
  package-lock.json
  renovate.json
  rollup.config.js
  src/core/parser.js
  src/core/renderer.js
  src/index.js
  src/plugins/transpose.js
  tests/chordprojs.test.js
  tests/debug.js
  tests/parser.test.js
  tests/renderer.test.js
  tests/transpose.test.js
Due: jest-tests, test-github-workflows

Fix console error
  .pre-commit-config.yaml
  src/core/parser.js
Due: jest-tests, test-github-workflows

pre-commit autoupdate
  .pre-commit-config.yaml
Due: test-github-workflows

eslint tweaks
  .pre-commit-config.yaml
  eslint.config.js
Due: jest-tests, test-github-workflows

chore: update dependencies and improve pre-commit configuration
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  dist/chordprojs.esm.js
  dist/chordprojs.min.js
  dist/dist/chordprojs.min.css
  eslint.config.js
  package-lock.json
  package.json
Due: jest-tests, test-github-workflows

chore: add dependency installation step to pre-commit configuration
  .github/workflows/pre-commit.yml
Due: none

fix renovate grouping config
  renovate.json
Due: none

added --no-warn-ignored to pre-commit.eslint
  .pre-commit-config.yaml
Due: test-github-workflows

eslint tweaks, pre-commit
  .pre-commit-config.yaml
  tests/parser.test.js
Due: jest-tests, test-github-workflows

Fix rollup and some package.json issues...sync latest dist
  dist/chordprojs.esm.js
  dist/chordprojs.min.js
  package-lock.json
  package.json
  rollup.config.js
Due: jest-tests

Update Python version in pre-commit workflow
  .github/workflows/pre-commit.yml
Due: none

reno tweak
  package-lock.json
  renovate.json
Due: none

reno tweak
  renovate.json
Due: none

Enhance documentation for technical agent
  .github/agents/my-agent.agent.md
Due: none

pre-commit GH workflow add caching
  .github/workflows/pre-commit.yml
Due: none

add Notion rendering plugin with hosting instructions and example implementation
  package-lock.json
  plugins/notion/README.md
  plugins/notion/index.html
Due: none

add baseline-browser-mapping dependency and update related packages. Notion works by adding files in examples/
  examples/example.chopro
  package-lock.json
  package.json
  plugins/notion/index.html
Due: none

Run npm test to verify pre-commit in github workflow
  .github/workflows/pre-commit.yml
Due: none

move run test to github workflow
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
Due: test-github-workflows

Add Google Drive integration examples and update initialization instructions
  DEVELOPMENT.md
  README.md
  eslint.config.js
  examples/file-list.html
  package.json
  plugins/google-drive-provider.js
  src/core/renderer.js
  src/index.js
  src/plugins/transpose.js
  tests/debug.js
Due: jest-tests

Improve error handling and messaging for Google Drive integration
  examples/file-list.html
  plugins/google-drive-provider.js
Due: jest-tests

- Added a pre-initialization check in `GoogleDriveProvider.prototype.init` to detect if the default `YOUR_API_KEY` or `YOUR_CLIENT_ID` placeholders are still in use.
  plugins/google-drive-provider.js
Due: jest-tests

Implement user preferences modal and preferences service
  dist/chordprojs.esm.js
  dist/chordprojs.min.js
  docs/WhyApiCredsStillInCode.md
  eslint.config.js
  examples/file-list.html
  src/core/renderer.js
  src/index.js
  src/plugins/transpose.js
  src/services/preferences-service.js
  tests/debug.js
  tests/preferences-service.test.js
Due: jest-tests

Add pref option to follow system theme
  examples/file-list.html
  src/services/preferences-service.js
  tests/preferences-service.test.js
Due: jest-tests

Fix workflow using soon-to-be-deprecated node version. bumpt to 24
  .github/workflows/pre-commit.yml
  GITHUB_INTEGRATION.md
Due: none

update github workflow to run pages actions after successful pre-commit and test
  .github/workflows/pre-commit.yml
Due: none

another gh workflow tweak
  .github/workflows/pre-commit.yml
Due: none

Run web server for testing
  .github/workflows/pre-commit.yml
Due: none

package/pyproject updates
  package-lock.json
  package.json
  pyproject.toml
Due: none

feat: implement Google Drive storage provider with folder selection and preferences
  dist/chordprojs.esm.js
  dist/chordprojs.min.js
  examples/file-list.html
  package-lock.json
  package.json
  plugins/google-drive-provider.js
  rollup.config.js
  src/services/preferences-service.js
Due: jest-tests

bump globals in devDependencies
  package.json
Due: none

fix missing params for test
  dist/chordprojs.esm.js
  dist/chordprojs.min.js
  package-lock.json
  tests/preferences-service.test.js
Due: jest-tests

remove unused .github/.junie/guidelines.md, latest build artifacts
  .github/.junie/guidelines.md
  .pre-commit-config.yaml
  dist/chordprojs.esm.js
  dist/chordprojs.min.js
Due: jest-tests, test-github-workflows
